<p>
Hi <%= @return_authorization.order.user.email %>, <br>
Thank you for shopping with Us! Your request for return against the order <%= @return_authorization.order.number %> has been received.
</p>
<br>

<table style="width: 100%;">
  <tr>
    <th>Product</th>
    <th> Quantity</th>
    <th>Price</th>
  </tr>

  <% @return_authorization.return_items.each do |return_item| %>
    <tr>
      <td> <%= return_item.variant.name %> </td>
      <td> 1 </td>
      <td> <%= number_to_currency(return_item.variant.price.to_f) %> </td>
    </tr>
  <% end %>
</table>

<br>
<p>
We have started processing your request and will get in touch with you shortly with updates.
</p>

Thank you
